#chat-form {
    width: 80%;
    margin: 32px auto;
    text-align: center;
}

#chat-form input {
    width: 80%;
    margin: 32px auto;
    padding: 16px;
    display: inline-block;
}

#chat-list {
    width: 80%;
    height: 200px;
    margin: 32px auto;
    padding: 0px;
    list-style: none;
    text-align: center;
}

#chat-list li {
    width: 80%;
    margin: 16px auto;
}